* {
  font-family: Fira Sans;
  margin:0;
  padding:0;
  color:#222;
  box-sizing: border-box;

}
body {
  width:100vw;
}

h1, h2 {
  font-size: 3.3rem;
  font-weight: 700;
  margin:6px 0px;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin:3px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin:2px;
}

h5 {
  font-size: 1.1rem;
  font-weight: 400;
  margin:2px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  margin:4px;
}

.font--small {
  font-size: 0.9rem;
  font-weight: 500;
}

.font--white {
  color:white;
}

.font--opacity60 {
  opacity: 60%;
}


.btn{
  border:1px solid black;
  padding:0.6rem 1.5rem;
  border-radius: 3px;
  margin:0rem;
  text-transform:uppercase;
  cursor:pointer; 
}

.btn--light{
  border:1px solid rgba(255, 255, 255, 0.6);
  color:rgba(255, 255, 255, 0.6);
  background: none;
  margin:1rem;
}

.btn__quote {
  display:none;
}

.btn__appStore {
  border:none;
  margin:2rem 0;
  padding:0.5rem;
}

.btn__submit {
  align-self: flex-end;
  margin-top:1rem;
}

.mobile-icon {
  margin:0;
}

header {
  background: #EEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:2rem;
  width:100%;
  height:5rem;
}

.menu {
  display:none;
  list-style: none;
  gap:1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.menu__menuItem {
  text-transform:uppercase;
  cursor:pointer;
}
.menu__menuItem:hover {
  color:black;
  font-weight: 700;
} 

.menu__menuItem--grey {
  color:#999999;
}

/* Hero */


.hero__image {
  max-width: 90%;
}

.wrapper-titel {
grid-column:span 2;
  text-align: center;
  margin:1rem 0;
}


/* Product show-room */
main {
  --column-count: 2;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.small-card {
  background-color:#EBEBEB ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Animation. Pulserande kort. */
main:hover {
  animation: change-gap 5s infinite;
}

@keyframes change-gap {
  50% {grid-gap: 3rem;}
}

.product-image {
  margin:3rem;
  width:60px;
}

.large-card {
  grid-column:span 2;
  background-color:#343332 ;
  border-radius: 3px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
}


/* FOOTER   */

footer {
  background-image: url("images/footer\ map\ bg.png"); 
  width:auto;
  height:fit-content;
  padding:3rem 1rem;
}


.contact-box {
  background-color: white;
  text-align: center;

  height:fit-content;
  border-radius: 3px;
  padding-top:1rem;
 box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}


.contact-box__card {
 text-align: left;
margin-top: 1rem;

  padding:0 2rem 1rem 2rem;
}

.contact-box__item {
  display:flex;
  gap:1.5rem;
  margin-top:1rem;

}


.contact-form {
  display:flex;
  flex-direction: column;
 align-items: flex-start;
}

.contact-form__label {
  font-size: 0.8rem;
 color:#878787;
 margin-top:0.5rem;
}

.contact-form__input-field {

  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.5);
  padding:0.3rem;
  min-width: 100%;
}





@media screen and (min-width: 768px) {
  
  .mobile-icon {
    padding:0;
    margin:0px;
    display:none;
  }

  .app-text{
    max-width: 550px;
  }

  main {
    --column-count:4;
    max-width: 800px;
  }

  .small-card  {

  }
  .product-image {
    
  }

  .wrapper-titel {
    grid-column:span 4;
   
  }

  .large-card  {
    padding:4rem;
  }

    .btn__quote {
    display:block;
    width:10rem;
  }

  /* Animering av knapp vid mouse-over. */
  .btn__quote:hover {
    background-color: rgb(255, 13, 0);
    border: 10px solid rgb(224, 152, 28);
    cursor: pointer;
    box-sizing:border-box;
    animation:move 3s ease-in-out;
  }

  @keyframes move {
        from {transform:Rotate(0deg)}
    to{transform:Rotate(360deg)}
  }

  .menu {
    display:flex;
  }
    
  footer {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:5rem;
    padding-right: 3rem;
  }

  .contact-box {
    grid-column: 2/3;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width:500px;
  }

  .contact-box__header {
      min-width: 600px;
  }

  .contact-box__card {
    display:flex;
    flex-direction: column;
    width: 50%;
 
    padding:0 2rem 1rem 2rem;
  }
 

}
  
