* {
  font-family: Fira Sans;
  margin:0;
  padding:0;
  color:#222;
  box-sizing: border-box;
}

body {
  width:100vw;
  margin: auto;
}

/*Common Font-styles */
.font--h1{
  font-size: 2.3rem;
  font-weight: 700;
  margin:6px 0px;
  @media screen and (min-width: 768px) {
    font-size: 3.3rem;
  }
}

.font--h3 {
  font-size: 2rem;
  font-weight: 700;
  margin:3px;
}

.font--h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin:2px;
}

.font--h5 {
  font-size: 1.1rem;
  font-weight: 400;
  margin:2px;
}

.font--h6 {
  font-size: 1.1rem;
  font-weight: 700;
  margin:2px;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.font--text {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 150%;
  margin:4px;
  max-width: 300px;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
    max-width: 550px;
  }
}

.font--small {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top:1rem;
}

.font--white {
  color:white;
}

.font--opacity60 {
  opacity: 60%;
}

/*  Button-styles */
.btn{
  border:1px solid black;
  padding:0.6rem 1.5rem;
  border-radius: 3px;
  margin:0rem;
  text-transform:uppercase;
  cursor:pointer; 
}

.btn--light{
  border:1px solid rgba(255, 255, 255, 0.6);
  color:rgba(255, 255, 255, 0.6);
  background: none;
  margin:1rem;
}

.btn__quote {
  display:none;
    @media screen and (min-width: 768px) {
    display:block;
    width:10rem;}
}


.btn__app-links {
  background-color: black;
  border-radius: 5px;
  display: flex;
  gap:0.5rem;
  align-items: center;
  justify-content: flex-start;
  color:white;
  text-transform:none;
  font-size: 1rem;
  font-weight: 400;
  margin:2rem 1rem;
  padding:0.4rem 0.5rem;
  width:8.5rem
}

.btn__submit {
  align-self: flex-end;
  margin-top:1rem;
}


/* Hamburger menu for mobile view */
.hamb-menu-icon {
  margin:0;
  @media screen and (min-width: 768px){
    padding:0;
    margin:0px;
    display:none;
  }
}


/*   Header   */
header {
  background: #dbdbdb;
  background-image: url("images/snow.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation:snowfall 5s linear forwards infinite; 
}

/* Snowfall animation - background color of header modified from original #EEEEEE, to make the snow more visible */
@keyframes snowfall{
  0%{background-position: 0 0; }
  20%{background-position: 20px 20px;}
  40%{background-position: 40px 40px;}
  60%{background-position: 60px 60px;}
  80%{background-position: 80px 80px;}
  100%{background-position: 100px 100px;}
}

.header-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:2rem;
  width:100%;
  height:5rem;
}

.menu {
  display:none;
  list-style: none;
  gap:1rem;
  font-size: 0.8rem;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    display:flex;
    padding-left: 4rem;
  }   
}

.menu__menuItem {
  text-transform:uppercase;
  cursor:pointer;
  &:hover {
    color:black;
    font-weight: 700;
  } 
}

.menu__menuItem--grey {
  color:#999999;
}
.app-links {
  display: flex;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end ;
  margin:0px;
  padding: 0 2rem;
  }
.hero__image {
  max-width:100%;
  }

.wrapper-titel {
  grid-column:span 2;
  text-align: center;
  margin:1rem 0;
  @media screen and (min-width: 768px) {
    grid-column:span 4;
  }
}


/* Product show-room */
main {
  --column-count: 2;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  @media screen and (min-width: 768px) {
    --column-count:4;
    max-width: 800px;
  }
}

.small-card {
  background-color:#EBEBEB ;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
}
/*Animation. Pulserande kort. Just to show an effect*/
main:hover {
  animation: change-gap 5s infinite;
}

@keyframes change-gap {
  50% {grid-gap: 3rem;}
}

.small-card:hover {
  animation: color-shock 5s infinite;
  transform: scale(1.070);
  background-image: url("images/snow.png");
 
}
@keyframes color-shock {
  0% {background-color: rgb(231, 83, 83); }
 25% {background-color: rgb(202, 202, 73);}
 50% {background-color: rgb(73, 202, 176);}
 75% {background-color: rgb(70, 181, 75);}
100% {background-color: rgb(152, 65, 169);}
 
}

.product-image {
  margin:3rem 1rem;
  width:60px;
  @media screen and (min-width: 768px){
        width:96px;
  }
}

.large-card {
  grid-column:span 2;
  background-color:#343332 ;
  border-radius: 3px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
  @media screen and (min-width: 768px){ 
    padding:4rem;
  }
}


/* FOOTER   */

footer {
  background-image: url("images/footer\ map\ bg.png"); 
  width:auto;
  height:fit-content;
  padding:3rem 1rem;

  @media screen and (min-width: 768px) {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:5rem;
    padding-right: 3rem;
  }
}

.contact-box {
  background-color: white;
  text-align: center;
  height:fit-content;
  border-radius: 3px;
  padding-top:1rem;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);

  @media screen and (min-width: 768px){
    grid-column: 2/3;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width:500px;
  }
}

.contact-box__card {
  text-align: left;
  margin-top: 1rem;
  padding:0 2rem 1rem 2rem;
  @media screen and (min-width: 768px) {
    display:flex;
    flex-direction: column;
    width: 50%;
    padding:0 2rem 1rem 2rem;
  }
}

.contact-box__item {
  display:flex;
  gap:1.5rem;
  margin-top:1rem;
}

.contact-form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form__label {
  font-size: 0.8rem;
  color:#878787;
  margin-top:0.5rem;
}

.contact-form__input-field {
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.5);
  padding:0.3rem;
  min-width: 100%;
}


@media screen and (min-width: 768px) {
 
  /* Animering av knapp vid mouse-over. */
  .btn__quote:hover {
    background-color: rgb(255, 13, 0);
    border: 10px solid rgb(224, 152, 28);
    cursor: pointer;
    box-sizing:border-box;
    animation:move 3s ease-in-out;
  }

  @keyframes move {
   from {transform:Rotate(0deg)}
   to{transform:Rotate(360deg)}
  }

  .contact-box__header {
      min-width: 600px;
  }

 

}
  
